p {
    font-size: 24px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.quadrato {
    height: 300px;
    flex: 1 0 12em;
    border: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    border: none;
    width: 200px;
    height: 100px;
    font-size: 24px;
    font-weight: 500;
    color: #fafafa;
}