body {
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: red;
    background-color: yellow;
    margin: 26px;
}

div {
    color: black;
}

.first-div {
    color: magenta;
}

.second-div {
    color: cyan;
}

.first-div h1 {
    color: red;
}

.second-div h1 p {
    color: rgb(136, 255, 0);
}